<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My link</title>
</head>
<body>
    <a href="{% url 'logout' %}">Se déconnecter</a>
    <br>
    <a href="{% url 'changepassword' %}">Changer de mot de passe</a>
    <br>
    <ul>
        {% for mini in minis %}
        <li>{{ mini.pseudo }} via <a href="{% url 'redirect' mini.code %}" target="_blank">{{ request.get_host }}{% url 'redirect' mini.code %}</a><br><a href="{% url 'update' mini.code %}">Modifier</a><br><a href="{% url 'delete' mini.code %}">Supprimer</a></li>
        <hr>
        {% empty %}
        <p>Rien à afficher</p>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'create' %}">Créer un raccourci</a>
    <br>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>